name: Auto Update

permissions: {}

on:
  schedule:
    - cron: "0 2 * * *" # Run daily at 2 AM UTC
  workflow_dispatch:

jobs:
  update:
    name: Auto Update
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: taiki-e/checkout-action@b13d20b7cda4e2f325ef19895128f7ff735c0b3d # v1.3.1

      - uses: oxc-project/setup-rust@eb5c2bf64ce11cc9557c576d6766c164d064fdb7 # v1.0.10

      - name: Run xtask to update globals
        run: cargo run -p xtask

      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        id: cpr
        with:
          token: ${{ secrets.OXC_BOT_PAT }}
          commit-message: Auto update globals from upstream
          branch: update
          branch-suffix: timestamp
          title: Auto update globals from upstream
          assignees: Boshen
          base: main

      - uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3
        if: steps.cpr.outputs.pull-request-operation == 'created'
        with:
          token: ${{ secrets.OXC_BOT_PAT }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash
